/* ******************************************* 
FORM
*********************************************
*/

.avalon{
    padding: 2rem;
    border: 1px solid silver;
    height: max-content;
    max-width: 500px;
}

/* ******************************************* 
LABEL AND HEADER
*********************************************
*/

.avalon h2{
    margin-bottom: 2rem;
}

.avalon label{
    display: block;
    margin-bottom: .5rem;
}

/* ******************************************* 
FIELDS
*********************************************
*/

.avalon fieldset{
    margin-bottom: 1rem;
}

.avalon fieldset .input-container{
    position: relative;
}

.avalon fieldset .input-container i{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    margin: auto;
    height: max-content;
    width: max-content;
}

.avalon fieldset input{
    border-radius: 100px;
    outline: none;
    padding: .9rem 1rem;
    border: 1px solid #70879f;
    width: 100%;
}

/* ******************************************* 
OPTIONS
*********************************************
*/

.avalon .options{
   position: relative;
}

.avalon .options input{
    cursor: pointer;
}

.avalon .options .input-container i{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    left: auto;
    margin: auto;
    height: max-content;
    width: max-content;
    cursor: pointer;
}

.avalon .options .options-window{
    position: absolute;
    left: 0;
    top: 110%;
    border-radius: 10px;
    box-shadow: 0 0 20px #82bbcc54;padding: 1rem;
    width: 100%;
    background: white;
    border: 1px solid rgb(228, 227, 227);
    z-index: 1;
}

/* ******************************************* 
BUTTON
*********************************************
*/
.avalon button{
    background: #ff0965;
    border-radius: 100px;
    color: white;
    border: none;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    transition: .5s;
    margin-top: 1rem;
    text-transform: uppercase;
}

.avalon button:hover{
    background-color: #cc004b;
}